<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="roleFormGroup">
    <ion-input
    id="rulemanagement-percentage{{ i + 1 }}"   
    type="number"
    formControlName="percentage"
    (ionChange)="onPercentageBlur(roleFormGroup)"
    [min]="getMin(roleFormGroup.controls.roleId.value)"
    [max]="getMax(roleFormGroup.controls.roleId.value)"
    ></ion-input>
  </form>
  </div>
</ion-content>
